*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  font-size: 24px;
  background-color: #ffdc55;
}

body.scroll-off {
  overflow: hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  font-family: inherit;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
}

/* ============= HEADER ============ */

.header {
  background-color: #e1c34b;
}
.menu-button {
  display: none;
}

.header-container {
  display: flex;
  align-items: center;

  padding-top: 13px;
  padding-bottom: 13px;
}

.menu-arrow {
  display: none;
}

@media screen and (min-width: 767.98px) {
  .menu-plus {
    display: none;
  }
  .container {
    max-width: 1050px;
    padding: 13px 15px;
  }
  .header-logo {
    margin-right: auto;
  }
  .header-logo:focus {
    outline: none;
  }
  .header-menu-list {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin-left: auto;
    align-items: center;
  }
  .menu-sub-list {
    position: absolute;
    top: 100%;
    left: -50%;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    gap: 35px;
  }

  .menu-link {
  }
  .menu-link {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    text-decoration: none;
    color: #665822;
    font-size: 18px;
    line-height: calc(34px / 18px);
    padding: 10px 8px;
    transition: background-color 250ms ease;
    border-radius: 5px;
  }

  .menu-item {
    position: relative;
  }

  .menu-link:hover,
  .menu-link:focus {
    background-color: #fff;
    border-radius: 5px;
    outline: none;
  }

  .menu-sub-list {
    transform: translate(0px, 15px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 250ms ease;
  }

  .header-menu-list > li:hover > .menu-sub-list {
    transform: translate(0px, 0px);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  .menu-sub-link {
    font-size: 16px;
    display: inline-block;
    color: #665822;
    text-decoration: none;
    margin-bottom: 20px;
  }

  .menu-color-list {
  }
  .menu-color-link {
    font-size: 14px;
    text-decoration: none;
    color: #665822;
    margin-bottom: 10px;
    opacity: 1;
    transition: opacity 250ms ease;
  }
  .menu-color-link:hover,
  .menu-color-link:focus {
    opacity: 0.5;
    outline: none;
  }

  .header-menu {
    display: flex;
    margin-left: 0px;
    flex-wrap: wrap;
    width: 100%;
  }
  .header-register {
    display: inline-block;
    margin-left: auto;
    text-decoration: none;
    color: #665822;
    font-size: 18px;
    line-height: calc(34 / 18);
    padding: 10px 15px;
    transition: background-color 250ms ease;
    border-radius: 5px;
  }

  .header-register:hover,
  .header-register:focus {
    background-color: #fff;
    border-radius: 5px;
    outline: none;
  }

  .menu-arrow {
    display: block;
    width: 0;
    height: 0;
    margin-left: 5px;
    transition: transform 250ms ease;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #665822;
  }
}
@media screen and (min-width: 1279.98px) {
  .container {
    max-width: 1280px;
    padding: 13px 130px;
  }
  .menu-link {
    font-size: 18px;
    line-height: calc(34 / 18);
    padding: 10px 15px;
  }
}

@media screen and (max-width: 767.98px) {
  .menu-button {
    display: block;
    border: none;
    background-color: #e1c34b;
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .menu-button .icon-cross {
    display: none;
  }
  .menu-button.is-open .icon-cross {
    display: block;
  }

  .menu-button.is-open .icon-burger {
    display: none;
  }
  .header-menu {
    position: fixed;
    z-index: 10;
    top: 60px;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: #e1c34b;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    padding-bottom: 100px;
    transition: left 250ms ease;
    padding-top: 20px;
  }

  .header-menu.active {
    left: 0;
  }
  .header-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu-item {
    text-align: center;
    margin-bottom: 30px;
  }
  .header {
    display: flex;
    height: 60px;
    z-index: 1;
  }

  .menu-sub-list .header {
    display: flex;
    height: 60px;
  }
  .header-logo {
    transform: translateX(-25px);
  }
  .menu-link {
    color: #665822;
    font-size: 34px;
  }

  .header-register {
    color: #665822;
    font-size: 34px;
  }

  .menu-sub-link {
    display: block;
    color: #665822;
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 40px;
  }
  .menu-color-link {
    display: block;
    color: #665822;
    font-size: 18px;
  }
  .menu-color-list li {
    margin-bottom: 15px;
  }
  .menu-color-list li:last-child {
    margin-bottom: 0;
  }

  .menu-sub-list {
    display: none;
  }
  .menu-sub-list.show {
    display: block;
  }
  .menu-link-bee {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu-plus {
    margin-left: 20px;
  }

  .menu-link-bee.is-open {
    text-decoration: line-through;
    text-decoration-color: #ffdc55;
  }
  .menu-link-bee.is-open .icon-plus {
    display: none;
  }
  .menu-link-bee.is-open .menu-sub-list {
    display: block;
  }
}

/* ============= MODAL ============ */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);

  overflow-y: scroll;
  padding: 94px 15px;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) perspective(500px) translateY(-100%)
    rotateX(45deg);
}

.modal {
  position: relative;
  padding: 40px;
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: transform 500ms ease;
}

@media screen and (min-width: 478.98px) {
  .modal {
    width: 450px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 767.98px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) perspective(500px) translateY(0%)
      rotateX(0deg);
    margin: 0;
  }
}
@media screen and (min-width: 1279.98px) {
  .model {
    width: 528px;
  }
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  background-color: #ffffff;
  cursor: pointer;
  fill: #665822;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon {
  color: currentColor;
}

.modal-form {
}
.modal-title {
  font-size: 24px;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  color: #665822;
}
.modal-list {
}
.modal-item {
}
.modal-item:last-child {
  margin-bottom: 25px;
}
.modal-label {
  font-size: 13px;
  margin-bottom: 5px;
  color: #665822;
}

.modal-label.no-valid {
  color: red;
}

.modal-label.no-valid .modal-input {
  border: 1px solid red;
}

.error {
  display: block;
  color: red;
  margin-top: 5px;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding: 10px;
  color: #665822;
}

.modal-input:focus {
  outline: none;
  border: 2px solid #665822;
}
.button {
}
.modal-button {
  width: 100%;
  padding: 10px;
  color: #665822;
  border: 2px solid #665822;
  background-color: #fff;
  font-size: 18px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@media screen and (max-width: 767.98) {
}

.modal-button:hover {
  background-color: #665822;
  color: #ffdc55;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/*  */

.form-title {
  color: #665822;
  font-size: 24px;
  margin: 0;
  margin-bottom: 15px;
}

.filter-title {
  padding: 0;
  margin: 0;
  color: #665822;
  margin-top: 70px;
  margin-bottom: 35px;
  font-size: 35px;
}

.filter-title::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: rgba(102, 88, 34, 0.2);
  display: block;
  margin-top: 40px;
}

.form {
  display: flex;
  flex-wrap: wrap;
}

.form-wrapper {
  width: 100%;
  position: relative;
  border-bottom: 2px solid rgba(102, 88, 34, 0.2);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1280px) {
  .form-wrapper > div {
    width: calc(50% - 40px);
    margin-right: 0;
  }

  .form-wrapper > div:nth-child(1) {
    margin-right: 80px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .form-wrapper > div {
    width: calc(50% - 20px);
    margin-right: 0;
  }

  .form-wrapper > div:nth-child(1) {
    margin-right: 40px;
  }
}

.form-wrapper {
  display: flex;
}

.price-input {
  width: 100%;
  display: flex;
  margin: 30px 0 35px;
}

.price-input .price-field {
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
  position: relative;
  margin-right: 30px;
}

.price-svg {
  position: absolute;
  top: 10px;
  right: 15px;
}
.price-field input {
  width: 100%;
  height: 40px;
  outline: none;
  font-size: 19px;
  margin-left: 20px;
  border-radius: 5px;
  border: 1px solid #999;
  padding: 15px;
  -moz-appearance: textfield;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.price-input .separator {
  width: 130px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}
.slider {
  height: 3px;
  position: relative;
  background: rgba(102, 88, 34, 0.2);
  border-radius: 5px;
}
.slider .progress {
  height: 100%;
  left: 5px;
  right: 5px;
  position: absolute;
  border-radius: 5px;
  background: #665822;
}
.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type='range']::-webkit-slider-thumb {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background: url('../image/range.png') center center no-repeat;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
input[type='range']::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: url('../image/range.png') center center no-repeat;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

/* bees */

.bees-list {
  display: flex;
  flex-direction: column;
}

.bees-label {
  margin-bottom: 10px;
}

.bees-checkbox:disabled ~ .bees-text {
  color: rgba(102, 88, 34, 0.5);
  cursor: default;
}

.bees-text {
  cursor: pointer;
}

.bees-checkbox:disabled ~ .bees-icon {
  border: 2px solid rgba(102, 88, 34, 0.5);
  background-color: transparent;
}

.bees-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.bees-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: none;
  background-color: #fff;
  background-origin: border-box;
  margin-right: 8px;
  cursor: pointer;
}

.bees-checkbox:checked + .bees-icon {
  background: url(../image/check.svg) center center no-repeat;
  background-color: #fff;
}

.bees-text {
  color: #665822;
}

/*  */

.rating fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.rating-star {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  margin: 0;
  font-size: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-size: 25px auto;
  background-repeat: repeat-x;
  cursor: pointer;
}

.rating-star:focus {
  outline: none;
}

.rating-star:checked,
.rating-star:hover {
  background-image: url(../image/on.svg);
}

.rating-star:hover ~ .rating-star {
  background-image: url(../image/off.svg);
}

.rating-star:nth-of-type(1) {
  z-index: 5;
  width: 25px;
}

.rating-star:nth-of-type(2) {
  z-index: 4;
  width: 50px;
}
.rating-star:nth-of-type(3) {
  z-index: 3;
  width: 75px;
}
.rating-star:nth-of-type(4) {
  z-index: 2;
  width: 100px;
}
.rating-star:nth-of-type(5) {
  z-index: 1;
  width: 125px;
}
.rating-group {
  position: relative;
  height: 25px;
  width: 125px;
  background-image: url(../image/off.svg);
  background-size: 25px auto;
  background-repeat: repeat-x;
}

/* Producer */

.producer-label {
  display: flex;
  align-items: center;
}

.producer-item {
  margin-bottom: 15px;
}

.producer-item:last-child {
  margin-bottom: 0px;
}

.producer-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.producer-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: none;
  background-color: #fff;
  background-origin: border-box;
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
}

.producer-input:checked + .producer-box {
  background: url(../image/check.svg) center center no-repeat;
  background-color: #fff;
}

.producer-input:disabled ~ .producer-box {
  border: 2px solid rgba(102, 88, 34, 0.5);
  border-radius: 50%;
  background-color: transparent;
}

.producer-input:disabled ~ svg {
  fill: rgba(102, 88, 34, 0.5);
}

.producer svg {
  cursor: pointer;
  fill: #665822;
}

/* Select */

.mult-select-tag {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-color: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);
  --border-color: rgb(218, 221, 224);
  font-family: Verdana, sans-serif;
}

.mult-select-tag .wrapper {
  width: 100%;
}

.mult-select-tag .body {
  display: flex;
  border: 1px solid var(--border-color);
  background: white;
  min-height: 2.15rem;
  width: 100%;
  min-width: 14rem;
}

.mult-select-tag .input-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  padding: 0.1rem;
}

.mult-select-tag .input-body {
  display: flex;
  width: 100%;
  display: none;
}

.mult-select-tag .input {
  flex: 1;
  background: transparent;
  border-radius: 0.25rem;
  padding: 0.45rem;
  margin: 10px;
  color: #2d3748;
  outline: 0;
  border: 1px solid var(--border-color);
}

.mult-select-tag .btn-container {
  color: #e2ebf0;
  padding: 0.5rem;
  display: flex;
  border: none;
}

.mult-select-tag button {
  cursor: pointer;
  width: 100%;
  color: #718096;
  outline: 0;
  height: 100%;
  border: none;
  padding: 0;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
  text-transform: none;
  margin: 0;
}

.mult-select-tag button:first-child {
  width: 1rem;
  height: 90%;
}

.mult-select-tag .drawer {
  position: absolute;
  background: white;
  max-height: 15rem;
  z-index: 40;
  top: 98%;
  width: 100%;
  overflow-y: scroll;
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
}

.mult-select-tag ul {
  list-style-type: none;
  padding: 0.5rem;
  margin: 0;
}

.mult-select-tag ul li {
  padding: 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.mult-select-tag ul li:hover {
  background: rgb(243 244 246);
}

.mult-select-tag .item-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333333;
  padding: 0.2rem 0.4rem;
  height: 35px;
  margin: 0.2rem;
  font-weight: 500;
  border: none;
  background: #fff;
  border-radius: 9999px;
}

.mult-select-tag .item-label {
  max-width: 100%;
  line-height: 1;
  font-size: 14px;
  font-weight: 400;
  flex: 0 1 auto;
  color: #333333;
  margin-left: 20px;
}

.mult-select-tag .item-close-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row-reverse;
}

.mult-select-tag .item-close-svg {
  position: absolute;
  top: 26%;
  left: 0;
  width: 1rem;
  margin-left: 0.5rem;
  height: 1rem;
  cursor: pointer;
  border-radius: 9999px;
  display: block;
}

.hidden {
  display: none;
}

.mult-select-tag .rounded {
  border-radius: 0.375rem;
}

/* cloth */

.cloth fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}
.cloth-group {
  display: flex;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 1279.98px) {
  .cloth-group {
    flex-wrap: wrap;
  }
}

/* .cloth-group .cloth-star:checked .cloth-label {
  background-color: red;
} */

.cloth-star {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.cloth-label {
  width: 80px;
  height: 80px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.form-buttons {
  display: flex;
}

.form-btn {
  padding: 15px 30px;
  border: 3px solid #665822;
  color: #665822;
  cursor: pointer;
  margin-right: 100px;
  background-color: #ffdc55;
  transition: background-color 250ms ease;
}

.form-btn:last-child {
  margin-right: 0;
}

.form-btn:hover {
  background-color: #665822;
  outline: none;
  color: #ffdc55;
}
@media screen and (max-width: 768.98px) {
  .filter {
    padding: 0px 80px;
  }
  .filter-title {
    text-align: center;
    font-size: 35px;
  }

  .filter-form {
    flex-direction: column;
  }

  .form-wrapper {
    flex-direction: column;
    justify-content: center;
  }

  .form-wrapper > div {
    width: 100%;
    margin-bottom: 40px;
    margin-right: 0;
  }

  .form-buttons {
    justify-content: center;
  }
  .form-btn {
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 10px 15px;
  }
}

@media screen and (max-width: 495px) {
  .filter {
    padding: 0px 15px;
  }
  .form-btn {
    margin-right: 15px;
    margin-bottom: 30px;
    padding: 7px 10px;
  }
  .price-input {
    flex-direction: column;
  }
}

/* TABLE  */

.tabs-title {
  padding: 0;
  margin: 0;
  color: #665822;
  margin-top: 70px;
  margin-bottom: 35px;
  font-size: 35px;
}
.tabs-title::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: rgba(102, 88, 34, 0.2);
  display: block;
  margin-top: 40px;
}

.tabs-item {
}
.table-list-link {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #a48e37;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
}

.table-list-link.active .table-icon-plus {
  display: none;
}

.table-icon-plus {
}
.table-icon-minus {
}
.table-list-text {
  margin-left: 10px;
}
.table-list-date {
  margin-left: auto;
}

.tabs-table {
  width: 100%;
  border: none;
  background-color: #e1c34b;
  border-collapse: separate;
  border-spacing: 10px;
  display: none;
  margin-bottom: 10px;
  margin-top: -10px;
}

.tabs-table.is-open {
  display: block;
}

.tabs-table th {
  background-color: #665822;
  color: #fff;
}

.tabs-table td {
  background-color: #fff;
  color: #665822;
}

.tabs-table th,
.tabs-table td {
  border: none;
  font-size: 14px;
  height: 40px;
  padding: 0px 15px;
}

.tabs-table th:first-child,
.tabs-table td:first-child {
  width: 14%;
}

.tabs-table th:nth-child(2),
.tabs-table td:nth-child(2) {
  width: 16%;
}

.tabs-table th:nth-child(3),
.tabs-table td:nth-child(3) {
  width: 9%;
}

.tabs-table th:last-child,
.tabs-table td:last-child {
  width: 6%;
}

.tabs-table .table-svg {
  text-align: center;
}

.tabs-table .table-dollar {
  position: relative;
}

.tabs-table .table-price {
  position: absolute;
  top: 25%;
  right: 10px;
}

@media screen and (max-width: 768.98px) {
  .tabs .container {
    padding: 0px 15px;
  }
  .tabs-table th,
  .tabs-table td {
    border: none;
    font-size: 14px;
    height: 40px;
    padding: 0px 15px;
  }

  .tabs-table th:first-child,
  .tabs-table td:first-child {
    width: 9%;
  }

  .tabs-table th:nth-child(2),
  .tabs-table td:nth-child(2) {
    width: 12%;
  }

  .tabs-table th:nth-child(3),
  .tabs-table td:nth-child(3) {
    width: 5%;
  }

  .tabs-table th:last-child,
  .tabs-table td:last-child {
    width: 2%;
  }
}
